body {
  background-color: #1F2937;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: 48px;
  color: #f9faf8;
}

.page {
  color:#f9faf8;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  
}